<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>io.dfm.adsabs</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>2469E046-0CF8-40FC-BD78-A8449D453634</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D5EE24F0-8EB7-48DD-B091-7AAD1B64C5C2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5532B5BB-86D1-4826-BAB2-1D0AB757D978</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BB651561-1A0A-42DB-8B5C-A41D5ADA51B6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BB651561-1A0A-42DB-8B5C-A41D5ADA51B6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>11D5721D-E45C-4D45-82C8-2CC370002271</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D5EE24F0-8EB7-48DD-B091-7AAD1B64C5C2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5532B5BB-86D1-4826-BAB2-1D0AB757D978</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>57141663-833E-41D5-88BD-A799004BDFAF</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DAFF399E-22B6-4655-BD72-BD3870F30A91</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DAFF399E-22B6-4655-BD72-BD3870F30A91</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>11D5721D-E45C-4D45-82C8-2CC370002271</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Dan Foreman-Mackey</string>
	<key>description</key>
	<string>Search for papers using SAO/NASA Astrophysics Data System</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>adsabs</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>110</integer>
				<key>script</key>
				<string>$ADS_PYTHON parse_query.py {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BB651561-1A0A-42DB-8B5C-A41D5ADA51B6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>__ads__ </string>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>5532B5BB-86D1-4826-BAB2-1D0AB757D978</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>11D5721D-E45C-4D45-82C8-2CC370002271</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>110</integer>
				<key>keyword</key>
				<string>ads</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>cat &lt;&lt; EOF
{
	"items": [
		{
			"title": "Search on the web",
			"subtitle": "The results will be displayed at ui.adsabs.harvard.edu in your browser",
			"arg": "__ads__ {query}"
		},
		{
			"title": "Search in Alfred",
			"subtitle": "The results will be displayed directly in Alfred",
			"arg": "{query}"
		}
	]
}
EOF
</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search for papers on ADS</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2469E046-0CF8-40FC-BD78-A8449D453634</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>__ads__</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>57141663-833E-41D5-88BD-A799004BDFAF</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>D5EE24F0-8EB7-48DD-B091-7AAD1B64C5C2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>110</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Searching for papers...</string>
				<key>script</key>
				<string>$ADS_PYTHON run_search.py {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Execute search in Alfred</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>DAFF399E-22B6-4655-BD72-BD3870F30A91</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Search for papers using SAO/NASA Astrophysics Data System</string>
	<key>uidata</key>
	<dict>
		<key>11D5721D-E45C-4D45-82C8-2CC370002271</key>
		<dict>
			<key>xpos</key>
			<integer>645</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>2469E046-0CF8-40FC-BD78-A8449D453634</key>
		<dict>
			<key>xpos</key>
			<integer>35</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>5532B5BB-86D1-4826-BAB2-1D0AB757D978</key>
		<dict>
			<key>xpos</key>
			<integer>345</integer>
			<key>ypos</key>
			<integer>95</integer>
		</dict>
		<key>BB651561-1A0A-42DB-8B5C-A41D5ADA51B6</key>
		<dict>
			<key>xpos</key>
			<integer>435</integer>
			<key>ypos</key>
			<integer>65</integer>
		</dict>
		<key>D5EE24F0-8EB7-48DD-B091-7AAD1B64C5C2</key>
		<dict>
			<key>xpos</key>
			<integer>235</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>DAFF399E-22B6-4655-BD72-BD3870F30A91</key>
		<dict>
			<key>xpos</key>
			<integer>435</integer>
			<key>ypos</key>
			<integer>195</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>ADS_DEV_KEY</key>
		<string></string>
		<key>ADS_PYTHON</key>
		<string>/Users/dforeman/anaconda3/bin/python</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>ADS_PYTHON</string>
		<string>ADS_DEV_KEY</string>
	</array>
	<key>version</key>
	<string>0.1.2</string>
	<key>webaddress</key>
	<string>https://github.com/dfm/adsabs.alfredworkflow</string>
</dict>
</plist>
